#container{
    width:600px;
    margin-left:5%;
}

#container{
    flex-basis: 200px;
    border:  2px solid #ccc;
    padding: 2rem;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.2);
}
